<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="com.dropbox.narrasystems"
      version="0.1">

    <name>Dropbox</name>
    <description>Phonegap Dropbox Plugin</description>
    <license>Apache 2.0</license>
    <keywords>dropbox</keywords>
    <repo>https://github.com/markelbambo/dropbox-plugins.git</repo>

    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
		<feature name="Dropbox">
			<param name="ios-package" value="DropboxPlugin"/>
		</feature>
        </config-file>


	<header-file src="plugin/src/ios/Plugins/DropboxPlugin.h" />
	<source-file src="plugin/src/ios/Plugins/DropboxPlugin.m" />

    </platform>


</plugin>
